<% include partials/header %>
    <div class="container">
        <div class="login">
            <div class="jumbotron">
                <form action="/submitForm" method="POST">
                    <img class="image" src="./picture/FB.jpg">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form">Username</label>
                        <input type="email" name="email" lass="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form">Password</label>
                        <input type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <p class="error">Error Message</p>
            </div>
        </div>
    </div>
    <% include partials/footer %>